<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /modulo_agenda/backend/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>
