
/* src/styles/variables.css */
:root {
  --viridian-green: #40826D;
  --sky-blue: #6EB5FF;
  --chinese-black: #141414;
  --yankees-blue: #1C2841;
  --snow: #FFFAFA;
}

/* Opcional reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--snow);
}
